@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-direction: column;
}

#logo{
    width: 20vw;
    border-radius: 20px;
}

h1{
    color: aliceblue;
     font-family: "Protest Guerrilla", sans-serif;
     font-size: 25px;
}

#name{
    color: rgb(212 , 43 , 122);
    font-size: 45px;
}

#va{
    color: rgb(43 , 206 , 212);
    font-size: 45px;
}

#voice{
    width: 400px;
    display: none;
}

#button{
    width: 35%;
    background: linear-gradient(to right , rgb(199, 104, 183) , rgb(63, 63, 145));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(63, 63, 145) , 2px 2px 10px rgb(199, 104, 183);
    border: none;
    transition: all 0.8s;
    cursor: pointer;

}

#button:hover{
    box-shadow: 2px 2px 20px rgb(63, 63, 145) , 2px 2px 20px rgb(199, 104, 183);
    letter-spacing: 2px;
}